<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Commerce</title>
  </head>
  <body>
    <h1>All Products</h1>
    <a href="/products/new"><button>Add Product</button></a>
    <form action="/products" method="GET">
      <label for="tag">Filter By Category:</label>
      <select name="Category" id="tag">
        <option value="None">None</option>
        <option value="Grocery">Grocery</option>
        <option value="Books">Books</option>
        <option value="Sports">Sports</option>
        <option value="Clothes">Clothes</option>
        <option value="Electronics">Electronics</option>
      </select>
      <button>Apply Changes</button>
    </form>
    <ul>
      <% for(let item of items){ %>
      <li>
        <a href="/products/<%= item._id %>"
          ><%= item.title %> | Price: <%= item.price %> | Category: <%= item.tag
          %>
          <br />
          <img src="https://picsum.photos/300" alt="item-image"
        /></a>
      </li>
      <% } %>
    </ul>
  </body>
</html>
